.container-inventario{
    background-color: rgba(255, 255, 255);
    border-radius: 10px; 
    padding-bottom: 10px;
    height: 85vh;
}

.table_productos{
    background-color: #ffffff;
}

.cabeceras{
    background-color: #F5F5F5;
}

.dropdown{
    width: 250px;
    height: 40px;
    color: #1A1D1F;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    font-size: 14px;
}
.Button{
    background-color: #D5418F;
}
.dropdown:hover {
    border-color: #EB6D1A;
  }

  Button:hover{
    border-color: #EB6D1A;
  }