.container-inventario{
    background-color: rgba(255, 255, 255);
    border-radius: 10px; 
    padding-bottom: 10px;
    height: 85vh;
}

.table_productos{
    background-color: #ffffff;
}
my-fila:hover{
    background-color: #F5F5F5;
}

.table_productos thead tr.cabeceras th {
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
  }

.cabeceras{
    background-color: #F5F5F5;
}

.dropdown{
    width: 250px;
    height: 40px;
    color: #1A1D1F;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    font-size: 14px;
}

.Button{
    background-color: #D5418F;
}

.dropdown:hover {
    border-color: #EB6D1A;
}

Button:hover{
    border-color: #EB6D1A;
}
  @media (max-width: 600px) {
    .table_productos {
        overflow-x: auto;
    }
  
    .table_productos th,
    .table_productos td {
        white-space: nowrap;
    }
    .dropdown{
        width: 180px;
        
    }
    .fila-dp {
        flex-direction: column;
      }
    .columna-dp{
        display: grid;
        justify-content: space-around;
        margin-bottom: 5px;
    }
    .agregar-pd{
        display: flex;
        justify-content: center;
    }


  }
